.field_error {
  color: red;
  font-size: 0.8rem;
  margin: 0;
}

.display-flex {
  display: flex;
}

.float-right {
  float: right;
}

/* Entry */
#entry-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#entry-inner {
  width: 300px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px;
  border-radius: 7px;
}

#entry-inner h3 {
  text-align: center;
}

#switch-active-tab {
  text-align: center;
}

#switch-active-tab span {
  cursor: pointer;
  color: #8d8b8b;
}

#switch-active-tab span:hover {
  text-decoration: underline;
}

.entry-field {
  margin-bottom: 12px;
}

.entry-field input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #8d8b8b;
  background-color: transparent;
}

.entry-field input:focus {
  outline: none;
  border-bottom-color: #000;
}

#entry-inner button {
  width: 100%;
  background-color: #ccc;
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  margin-top: 12px;
}

/* Conversations */
#conversations {
  background-color: rgb(211 209 209 / 70%);
  border-right: 1px solid #ccc;
  padding: 0;
}

#conversations-header {
  padding: 0.5rem 12px;
  height: 58px;
}

#conversations-title {
  float: left;
}

#logout-button {
  float: right;

  background-color: rgb(195, 195, 195);
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
}

#logout-button:hover {
  background-color: rgb(170, 170, 170);
}

#conversations-inner {
  height: calc(100vh - 58px);
  overflow-y: scroll;
}

#conversations-search {
  padding: 0 12px;
}

#conversations-search-input {
  border: none;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #8d8b8b;
  margin-bottom: 12px;
}

#conversations-search-input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

#new-conversations {
  padding: 0 12px;
}

#existing-conversations {
  padding: 0 12px;
}

.conversations-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin: 0;
}

#conversation-button {
  background-color: transparent;
  color: #000;

  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #8d8b8b;

  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

#conversation-button:hover {
  background-color: rgb(195 195 195 / 78%);
}

.message-preview {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  width: 100%;
}

/* Messages */
#messages {
  padding: 0;
}

#messages-placeholder {
  background-color: rgb(248 248 248 / 70%);
  width: 100%;
  height: 100%;
}

#messages-header {
  padding: 0.5rem;
  background-color: rgb(211 209 209 / 70%);
  display: flex;
  justify-content: space-between;
  height: 58px;
}

#messages-header-title {
  display: flex;
}

#messages-header-back {
  display: flex;
  align-items: center;
  margin: 0 6px;
}

#messages-header-title h3 {
  line-height: 1.5;
  margin: 0;
}

#messages-header-buttons {
  display: flex;
}

#messages-content {
  background-color: rgb(248 248 248 / 70%);
  padding: 0 12px;
  overflow-y: scroll;
  height: calc(100vh - 58px);
}

#message-history {
  min-height: calc(100vh - 120px);
}

.messages-sender {
  margin: 0;
}

.messages-time {
  font-size: 0.8rem;
  color: #575757;
  margin: 0;
  text-align: center;
  background-color: transparent;
  margin: 10px 0;
}

.messages-message {
  overflow-wrap: break-word;
  width: fit-content;
  max-width: 100%;

  background-color: rgb(195, 195, 195);
  padding: 5px;
  border-radius: 7px;
}

.message-sent {
  text-align: right;
}

.message-sent p {
  margin-left: auto;
}

.message-received {
  text-align: left;
}

#messages-form {
  display: flex;
  margin-bottom: 12px;
}

#messages-form input {
  border: none;
  padding: 0 0.5rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #8d8b8b;
}

#messages-form input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

#messages-form button {
  float: right;
  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  padding-bottom: 0;
}

#messages-form button:hover {
  background-color: rgb(195, 195, 195);
}

#new-conversation-alert {
  background-color: #e3e3e3;
  border: 1px solid #bababa;
  border-radius: 7px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

/* Notifications */

#notifications-button {
  float: right;
  color: #000;
  background-color: rgb(195, 195, 195);
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  margin-right: 5px;
  min-width: 40px;
}

#notifications-button:hover {
  background-color: rgb(170, 170, 170);
}

#notifications-button:focus {
  box-shadow: none;
}

#notifications-dropdown {
  max-height: 50vh;
  overflow-y: scroll;
  background-color: rgb(232 232 232 / 70%);
}

.dropdown-toggle::after {
  display: none !important;
}

.notification-time {
  font-size: 0.8rem;
  color: #575757;
  margin: 0;
  text-align: center;

  border-bottom: 1px solid #bababa;
  line-height: 0.1em;
  margin: 10px 0;
}

.notification-time span {
  background: #e8e8e8;
  padding: 0 10px;
}

#notification-text {
  color: black;
  font-size: 1rem;
}

.dropdown-header {
  padding: 5px 12px !important;
}

/* Settings */
#settings {
  padding: 0;
}

#settings-button {
  float: right;

  background-color: rgb(195, 195, 195);
  border: none;
  border-radius: 7px;
  padding: 0.5rem;
  min-width: 40px;
}

#settings-button:hover {
  background-color: rgb(170, 170, 170);
}

#settings-header {
  padding: 0.5rem;
  background-color: rgb(211 209 209 / 70%);
  height: 58px;
  display: flex;
  justify-content: space-between;
}

#settings-content-outer {
  background-color: rgb(248 248 248 / 70%);
  height: calc(100vh - 58px);
  overflow-y: scroll;
}

#settings-content-inner {
  max-width: 320px;
  padding: 0 12px;
}

.manage-user {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

#change-conversation-button {
  background-color: rgb(195, 195, 195);
  border: none;
  border-radius: 7px;
  padding: 0.3rem;
  font-size: 0.8rem;
}

#make-owner-button {
  background-color: rgb(195, 195, 195);
  border: none;
  border-radius: 7px;
  padding: 0.3rem;
  font-size: 0.8rem;
  margin-right: 5px;
}

#remove-button {
  background-color: rgb(195, 195, 195);
  border: none;
  border-radius: 7px;
  padding: 0.3rem;
  font-size: 0.8rem;
}

#add-button {
  background-color: rgb(195, 195, 195);
  border: none;
  border-radius: 7px;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}

#conversation-name-input {
  border: none;
  border-bottom: 1px solid #8d8b8b;
  background-color: transparent;
  width: 70%;
}

#conversation-name-input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.settings-change-name form {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

#user-search {
  border: none;
  border-bottom: 1px solid #8d8b8b;
  background-color: transparent;
  width: 70%;
}

#add-users {
  height: 110px;
}

#user-search:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#notifications-dropdown::-webkit-scrollbar {
  width: 10px;
}

#notifications-dropdown::-webkit-scrollbar-track {
  background-color: rgb(232 232 232 / 70%);
  border-radius: 7px;
}

#notifications-dropdown::-webkit-scrollbar-thumb {
  background: #888;
}

#notifications-dropdown::-webkit-scrollbar-thumb:hover {
  background: #555;
}
